<form [formGroup]="recipeForm" style="max-height: 600px;" class="overflow-auto">

  <!--HEADER-->
  <h1 mat-dialog-title class="text-center">{{title}}</h1>
  <mat-divider></mat-divider>

  <!--FORMS INPUT-->
  <div mat-dialog-content class="text-center mx-auto col-lg-12 mt-2">
    <h1 class="text-center mx-auto w-50 border-bottom border-secondary">
      RECIPE DETAILS
    </h1>

    <!--name-->
    <p>
      <mat-form-field appearance="outline" class="w-75">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Spaghetti" formControlName="name" autocomplete="off">
        <mat-hint>name</mat-hint>
        <mat-error>name cannot be blank</mat-error>
      </mat-form-field>
    </p>

    <!--file-->
    <p>
      <mat-form-field appearance="outline" class="w-75">
        <mat-label>Recipe Image</mat-label>
        <ngx-mat-file-input [disabled]="disabled" [accept]="accept" [multiple]="multiple" formControlName="file"
          placeholder="select image"></ngx-mat-file-input>
        <mat-hint>image</mat-hint>
        <mat-icon matSuffix>attach_file</mat-icon>
        <mat-error *ngIf="getF().file.hasError('maxContentSize')">max file size exceeded</mat-error>
      </mat-form-field>
    </p>

    <!--description-->
    <p>
      <mat-form-field appearance="outline" class="w-75">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Ex. Sauce principal de mon village" formControlName="description"
          autocomplete="off">
        <mat-hint>name</mat-hint>
      </mat-form-field>
    </p>

    <!--country-->
    <p>
      <mat-form-field appearance="outline" class="w-75">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Ex. Country" formControlName="country" autocomplete="off">
        <mat-hint>country</mat-hint>
      </mat-form-field>
    </p>

    <!--recipe type-->
    <p>
      <mat-form-field appearance="outline" class="w-75">
        <mat-label>Recipe type</mat-label>
        <mat-select formControlName="recipeType">
          <mat-option *ngFor="let type of recipeTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
        <mat-hint>type</mat-hint>
        <mat-error>you must choose a type</mat-error>
      </mat-form-field>
    </p>

  </div>

  <mat-divider></mat-divider>

  <!--INGREDIENTS-->

  <div class="container mb-4">

    <div class="row pt-3">
      <h1 class="text-center mx-auto w-50 border-bottom border-secondary">
        MY INGREDIENTS
      </h1>
      <div class="container">
        <mat-form-field color="primary">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. apple" #input />
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- Image Column -->
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
              <td mat-cell *matCellDef="let row">
                <img [src]="getImage(row.article.image)" class="img-fluid rounded w-25" style="max-height: 40px;"  alt="article image">
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">{{ row.article.name }}</td>
            </ng-container>

            <!-- qty Column -->
            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
              <td mat-cell *matCellDef="let row">{{ row.amount }} {{row.measurement == 0 ? '':row.measurement}}</td>
            </ng-container>

            <!-- Edit  column-->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button aria-label="Example icon button with a home icon" (click)="onEditAmount(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Delete column-->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button aria-label="Example icon button with a home icon" (click)="onDelete(row.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
      <div class="container">
        <button class="bg-dark text-white btn-block" mat-raised-button (click)="openDialog()">
          Add Article
        </button>
      </div>

    </div>
  </div>

  <!--INSTRUCTIONS-->
  <mat-divider></mat-divider>
  <div class="container mt-2 mb-3">

    <h1 class="text-center w-50 mx-auto border-bottom border-dark">INSTRUCTIONS</h1>

    <div class="text-center mat-elevation-z8 pt-4">
      <ng-container formArrayName="instructions">

        <p class="m-0" *ngFor="let instruction of getInstructions().controls let i = index">
          <ng-container [formGroup]="instruction">

            <mat-form-field appearance="outline" class="w-75">
              <mat-label>instruction. {{i + 1}}</mat-label>
              <input matInput autocomplete="off" formControlName="instructionInput">
              <mat-icon (click)="onRemoveInstruction(i)" matSuffix>clear
              </mat-icon>
              <mat-error>instruction cannot be blank</mat-error>
            </mat-form-field>
          </ng-container>
        </p>
      </ng-container>

      <button mat-icon-button class="mx-auto" (click)="onAddInstruction()">
        <mat-icon>add_circle
        </mat-icon>
      </button>
    </div>

  </div>


</form>
<!--FOOTER-->
<mat-divider></mat-divider>
<div class="d-flex justify-content-between mt-2">
  <button mat-raised-button class="btn-dark text-white" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button class="btn-dark text-white" cdkFocusInitial (click)="onSubmitForm()"
    *ngIf="!data">Create</button>
  <button mat-raised-button class="btn-dark text-white" cdkFocusInitial (click)="onSubmitForm()"
    *ngIf="data">Update</button>
</div>