<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center border-bottom border-dark">Dashboard</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
            <div class="m-1 mat-elevation-z4 rounded p-3 databox">
                <p class="text-center m-5">Average money spent per month:</p>
                <p class="text-center m-5"><strong>59.99$</strong></p>
            </div>
        </div>
        <div class="col-4">
            <div class="m-1 mat-elevation-z4 rounded p-3 databox">
                <p class="text-center m-5">Average money spent per month:</p>
                <p class="text-center m-5"><strong>59.99$</strong></p>
            </div>
        </div>
        <div class="col-4">
            <div class="m-1 mat-elevation-z4 rounded p-3 databox">
                <p class="text-center m-5">Average money spent per month:</p>
                <p class="text-center m-5"><strong>59.99$</strong></p>
            </div>
        </div>
     
    </div>

    <div class="row">
        <div class="col-12">
            <app-bar-chart></app-bar-chart>
        </div>
        <div class="col-12">
            <app-bar-chart></app-bar-chart>
        </div>
        <div class="col-12">
            <app-bar-chart></app-bar-chart>
        </div>
    </div>
    
   
</div>