table {
  width: 100%;
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20% !important;
}

/* th:nth-of-type(1){
  background-color: yellow;
}
th:nth-of-type(2){
  background-color: blue;
}
th:nth-of-type(3){
  background-color: orange;
} */
/* .mat-column.quantity{
  width: 5% !important;
  flex: 0 0 28% !important;
}
th:nth-of-type(4){
  background-color: green;
}
th:nth-of-type(5){
  background-color: purple;
} */

@media screen and (max-width:600px){
  ::ng-deep .app-routine-article-add-dialog .mat-dialog-container{
    padding: 0px !important;
  }
}