<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container h-100" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [ngClass]="{'w-50' : mobileQuery.matches,'w-25' : !mobileQuery.matches}">

      <mat-nav-list class="pt-0">

        <ng-container *ngIf="!isConnected()">
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="login" (click)="snav.toggle()">
            <div class="d-flex">
              <mat-icon class="mr-3">login</mat-icon>
              <p>login</p>
            </div>
          </a>

          <mat-divider></mat-divider>

          <a mat-list-item routerLink="signup" (click)="snav.toggle()">
            <div class="d-flex">
              <mat-icon class="mr-3">person_add</mat-icon>
              <p>sign up</p>
            </div>
          </a>

          <mat-divider></mat-divider>
        </ng-container>

        <ng-container *ngIf="isConnected()">
          <a mat-list-item routerLink="home" (click)="snav.toggle()">
            <div class="d-flex">
              <mat-icon class="mr-3">kitchen</mat-icon>
              <p>home</p>
            </div>
          </a>

          <mat-divider></mat-divider>

          <a mat-list-item routerLink="article" (click)="snav.toggle()">

            <div class="d-flex">
              <mat-icon class="mr-3">list_alt</mat-icon>
              <p>articles</p>
            </div>
          </a>

          <mat-divider></mat-divider>

          <a mat-list-item routerLink="routine" (click)="snav.toggle()">
            <div class="d-flex">
              <mat-icon class="mr-3">model_training</mat-icon>
              <p>routines</p>
            </div>
          </a>

          <mat-divider></mat-divider>

          <a mat-list-item routerLink="recipe" (click)="snav.toggle()">
            <div class="d-flex">
              <mat-icon class="mr-3">local_dining</mat-icon>
              <p>recipes</p>
            </div>
          </a>

          <mat-divider></mat-divider>

          <a mat-list-item routerLink="shopping" (click)="snav.toggle()">
            <div class="d-flex">
              <mat-icon class="mr-3">add_shopping_cart</mat-icon>
              <p>shop</p>
            </div>
          </a>


          <mat-divider></mat-divider>
          <a mat-list-item (click)="logout()" (click)="snav.toggle()">
            <div class="d-flex">
              <mat-icon class="mr-3">exit_to_app</mat-icon>
              <p>logout</p>
            </div>
          </a>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="routing-outlet">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>