<h1 mat-dialog-title class="text-center">Edit quantity</h1>
<mat-divider></mat-divider>
<div class="text-center">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" placeholder="Ex. 5" [formControl]="quantityFormControl">
        </mat-form-field>
    </p>
</div>

<div class="d-flex justify-content-between mt-2">
    <button mat-raised-button class="btn-dark text-white" (click)="onNoClick()">Cancel</button>
    <button  mat-raised-button class="btn-dark text-white" cdkFocusInitial (click)="updateRecipeQuantity()">Update</button>
</div>