<div class="row bg-dark pt-1 mat-elevation-z10 rounded mb-5 mt-5">
    <h1 class="text-center w-75 mx-auto border-white text-white border-bottom">{{title}}</h1>

    <div [id]="carouselId" class="carousel slide mx-auto w-100" data-ride="carousel">
        <ol class="carousel-indicators">
            <li *ngFor="let amount of recipes let i = index" [data-target]="navId"
                [data-slide-to]="i" [ngClass]="{'active' : i == 0,'': i != 0}"></li>
        </ol>
        <div class="carousel-inner rounded bg-white">
            <ng-container *ngFor="let carouselRecipe of recipes; let i = index">
                <div  [ngClass]="getClass(i)" style="min-height: 570px;">
                    <div class="container m-0 p-0">
                        <div class="row w-100 text-center m-0 p-0 pl-5 pr-5 pb-3 pt-3"
                            style="min-height: 570px;">

                            <div class="col-12 col-md-4 col-lg-4" *ngFor="let recipe of carouselRecipe.recipes">
                                <div class="bg-white w-75 pt-3 pb-2 mb-5 mx-auto mat-elevation-z4 rounded">
                                    <img [src]="getImage(recipe.image)" class="img-fluid rounded w-75 mb-2 img-thumbnail" style="max-height: 120px; min-height: 100px;"  alt="recipe image">
                                    <p class="font-weight-bold">{{recipe.name}}</p>
                                    <p>{{recipe.boughtDate}}</p>
                                    <button mat-raised-button
                                        class="w-75 bg-success text-white" (click)="onButtonClicked(recipe.id)">{{buttonMessage}}</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
        <a class="carousel-control-prev" [href]="navId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" [href]="navId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <button mat-raised-button class="btn-block bg-dark text-white" *ngIf="type == 'cookableRecipes'" routerLink="../cooking">Go to Cooking List</button>
    <button mat-raised-button class="btn-block bg-dark text-white" *ngIf="type == 'availableRecipes'" routerLink="../recipe">Go to Recipes List</button>
</div>